body {
  background: #EDEDED;
}

.App {
  text-align: center;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
}

.toc-vertical-page-flex {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
}

.toc-outer-wrapper {
  min-height: calc(100% - 200px);
  box-flex: 1;
  flex: 1 0 auto;
}

.toc-inner-wrapper {
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toc-container {
  max-width: 1200px;
  margin: 0 auto;
}
