.toc-card-container {
  list-style: none;
  margin: 0.5em;
  padding: 0.65em;
  border-radius: 0.3em;
  color: #FFF;
  font-size: 0.85em;
  flex-grow: 1;
  flex-basis: 0;
  width: 100%;
}

.toc-card-text{
  list-style: none;
  text-align: left;
  line-height: 1.25em;
}

.toc-card-html p {
  margin: 0;
  margin-bottom: 0.5em;
}

.toc-stage-container .toc-card-html ul {
  list-style-type: circle;
}

.toc-stage-container .toc-card-html li {
  margin: 0 2em;
}