@import 'breakpoints';

.toc-footer {
  height: 3.75em;
  font-size: 1em;
  background: #333;
  color: #FFF;
  a {
    color: #FFF;
  }
  .toc-footer-text-container{
    width: 100%;
    margin: 1em 0;
    text-align: center;
  }
  @include not-small-screen {
    .toc-footer-text-container {
      text-align: right;
      margin: 1.2em 1em 0;
    }
  }
}