@import 'breakpoints';

.toc-stages-container {
  padding: 1em 0;
  max-width: 1400px;
  margin: 0 auto;
}

.toc-board-title-container {
  max-width: 1400px;
  margin: 0 auto;
}

.toc-board-title-wrapper {
  background: #164EEE;
  color: #EDEDED;
  padding: 0.1em 2em;
  text-align: left;
  height: 5em;
  img {
    height: 5em;
  }
}

@include small-screen {
  .toc-board-title-wrapper {
    height: 10em;
    .toc-board-title-container{
      text-align: center;
    }

    h1 {
      font-size: 1.25em;
    }

    img {
    }
  }
}

@include not-small-screen {
  .toc-board-title-wrapper {
    h1 {
      display: inline-block;
    }

    img {
      float: right;
      display: inline-block;
    }
  }
}